@charset "utf-8";
/* CSS Document */

/* ZH-HK Style Sheet Notes for InvestHK */

/*body {
	font-family: 微软雅黑, 黑体, Arial, sans-serif;
}
select, input, button, textarea {
	font-family: 微软雅黑, 黑体, Arial, sans-serif;
}
.mainArea .cform {
	font-family: 微软雅黑, 黑体, Arial, sans-serif;
}
.mainArea div.cf_info {
	font-family: 微软雅黑, 黑体, Arial, sans-serif;
}
h1, h2, h3, h4 {
	font-family: 微软雅黑, 黑体, Arial, sans-serif;
}
p {
	font-family: 微软雅黑, 黑体, Arial, sans-serif;
}
.ihkThirdlvl .LinkedinSuccess p {
	font-family: 微软雅黑, 黑体, Arial, sans-serif;
}
.ihkThirdlvl .LinkedinSuccess a {
	font-family: 微软雅黑, 黑体, Arial, sans-serif;
}
*/

body {
	font-family: Arial, Helvetica, sans-serif;
}
select, input, button, textarea {
	font-family: Arial, Helvetica, sans-serif;
}
.mainArea .cform {
	font-family: Arial, Helvetica, sans-serif;
}
.mainArea div.cf_info {
	font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4 {
	font-family: Arial, Helvetica, sans-serif;
}
p {
	font-family: Arial, Helvetica, sans-serif;
}
.ihkThirdlvl .LinkedinSuccess p {
	font-family: Arial, Helvetica, sans-serif;
}
.ihkThirdlvl .LinkedinSuccess a {
	font-family: Arial, Helvetica, sans-serif;
}

.ihkLevelTwo .howOptions h2 {
	font-weight: normal;
	font-size: 123.1%;
}
.np ul li a {
	font-weight: normal;
	font-size: 116%;
}
.ihkHome .HomeQuote {
	font-family: Arial, Helvetica, sans-serif;
}
.ihkRightCol .Quote blockquote {
	font-family: Arial, Helvetica, sans-serif;
}
.ihkRightCol .Quote .BigText {
	font-family: Arial, Helvetica, sans-serif;
}
.np ul li.setup {
	width: 124px;
}
.np ul li.how {
	width: 149px;
}
.np ul li.news {
	width: 174px;
}
.np ul li.why a, .np ul li.sectors a, .np ul li.setup a, .np ul li.how a, .np ul li.news a, .np ul li.success a, .np ul li.forums a {
	padding-top: 1.1em;
	padding-bottom: 1.1em;
}
.np ul li.why h3 a, .np ul li.sectors h3, .np ul li.setup h3 a, .np ul li.how h3 a, .np ul li.news h3 a, .np ul li.success h3 a, .np ul li.forums h3 a {
	padding: 0 0 0 10px;
}
.ihkHeader .logo .ihk {
	background-position: -495px 0px;
}
.ihkHeader .why .mega .inner {
	background-position: 66px -1080px;
}
.ihkHeader .setup .mega .inner {
	background-position: 330px -1080px;
}
.ihkHeader .how .mega .inner {
	background-position: 467px -1080px;
}
.ihkHeader .news .mega .inner {
	background-position: 627px -1080px;
	padding-bottom: 15px;
}
/* Flickr gallery tidy */

#footer .slickr-flickr-gallery ul {
	width: 220px!important;
}
#footer .greybg .slickr-flickr-gallery li {
	text-align: left;
	width:105px!important;
}

.ihkPubs .tabNav li {width: auto; margin-right: 20px;}

.pagination li.nxt {background-position: 56px 3px;}

.pagination li.nxt:hover {background-position: -904px 3px}